<div>
    @Html.Sitecore().Field("Title")
    @Html.Sitecore().Field("Brief")
    @Html.Sitecore().Field("DetailedBlog")
    @Html.Sitecore().Field("Author")
    @Html.Sitecore().Field("PublishedDate")
</div>
